@charset "UTF-8";

#side {
	width: 15%;
	margin: 0 1%;
}
#profile {
	border: 2px solid #001DA0;
	background-color: rgba(41, 171, 242, 0.3);
	text-align: center;
}
#profile > h3 {
	margin-top: 10px;
}
#profile > img {
	width: 50%;
	height: 50%;
	margin : 10px 0 5px 0;
}
#profile > p {
	margin: 5px 0;
}
#menu-box {
	border: 2px solid #cecece;
	background-color: #f4f4f4;
	text-align: center;
}
#menu-link {
	display: inline-block;
	align-content: center;
	margin: 10px 0 30px 0;
}
#menu-link > h4 {
	text-align: left;
	margin: 20px 0 5px 0;
}
#menu-link > a {
	display: block;
	color: black;
	text-align: left;
	font-size: 14px;
}
#menu-link > a:hover {
	color: #0F8BFF;
}
#main-content {
	float: right;
	width: 85%;
	margin: 0 1%;
}
#order-box {
	background-color: #f4f4f4;
	border: 1px solid #cecece;
	display: flex;
	justify-content: space-around;
}
.order-cnts {
	text-align: center;
	margin: 10px 0;
}
.order-cnts > p {
	margin: 10px 0;
}
.order-cnts > h4 {
	margin-bottom: 10px;
}
.record {
	margin: 20px 0;
}
.record > h4 {
	font-size: larger;
	margin: 5px 0;
}
.list-box {
	background-color: #f4f4f4;
	border: 1px solid #cecece;
	margin: 10px 0 5px 0;
}
.list-box > table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}
.list-top {
	background-color: #a8a8a8;
}
.list-top > td {
	font-weight: 500;
	padding: 7px 0;
}
.list-box td {
	padding: 5px 0;
}
#regist-box {
	background-color: #f4f4f4;
	border: 1px solid #cecece;
	margin: 10px 0;
	padding: 10px;
}
#regist-box button {
	background-color: #5b5b5b;
	color: white;
	text-align: center;
	border: 0;
	border-radius: 4px;
	outline: 0;
	padding: 5px 10px;
}
.input-block {
	display: flex;
	flex-direction: row;
	margin: 3% 0;
}
.input-label {
	width: 15%;
	padding: 0 5%;
}
.input-box {
	width: 85%;
}
.input-box input {
	padding: 5px;
	margin: 3px 0;
}
.input-box select {
	padding: 5px;
	margin: 3px 0;
}
.input-box option {
	padding: 5px;
	margin: 3px 0;
}
#seller_name {
	width: 300px;
}
#seller_add_1 {
	width: 100px;
}
#seller_add_2 {
	width: 250px;
}
#seller_add_3 {
	width: 200px;
}
#seller_add_4 {
	width: 150px;
}
#account_no {
	width: 200px;
}
#regist_btn {
	font-size: medium;
}