@charset "UTF-8";

#qna-list {
	width: 100%;
	margin: 20px 0;
}
#qna-list > table {
	width: 100%;
	margin: auto;
	border-collapse: collapse;
}
#qna-list thead {
	background-color: #a8a8a8;
	text-align: center;
	font-weight: 400;
}
.qna_no {
	width: 10%;
}
.qna_title {
	width: 50%;
}
.qna_writer {
	width: 15%;
}
.qna_view {
	width: 10%;
}
.qna_date {
	width: 15%;
}
#qna-list td {
	border-bottom: 1px solid #cecece;
}
#board-bottom {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 20px 0;
}
.search-box {
	width: 80%;
	margin: 0;
}
.search-box > form {
	text-align: center;
}
.search-box select {
	width: 15%;
	height: 35px;
	font-size: 15px;
}
.search-box input {
	padding: 5px;
	width: 50%;
}
.search-box button {
	background-color: #0F8BFF;
	color: white;
	padding: 5px;
	border-radius: 4px;
	font-size: 15px;
}
#button-box {
	width: 10%;
}
#button-box button {
	background-color: #0F8BFF;
	color: white;
	padding: 5px;
	border-radius: 4px;
	font-size: 15px;
}
#write-top {
	display: flex;
	flex-direction: row;
}
#write-top > h2 {
	width: 70%;
}
#write_button {
	width: 10%;
}
#write-top > a {
	width: 10%;
}